:root {
  background-color: #3ba66c;
  --bgColor-span: #ebf027;
  --bgColor-btns: #64256f;
  --bgColor-mathBtns: #e0c483;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.calculatorContainer {
  width: max-content;
  margin: auto;
}

.displayCalculator {
  width: 100%;
  background-color: var(--bgColor-btns);
  height: 100px;
  font-size: 48px;
  text-align: end;
  display: flex;
  justify-content: flex-end;
}

input {
  color: var(--bgColor-span);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  flex: 1 25%;
  height: 5rem;
  border: 0.5px solid rgb(146, 145, 145);
  font-weight: 300;
  font-size: x-large;
}
button:hover {
  background-color: darkgray;
}
#equal {
  background-color: var(--bgColor-span);
}

.operator {
  background-color: var(--bgColor-mathBtns);
}

#number {
  background-color: var(--bgColor-btns);
}
